div.col-md-9 h1:first-of-type {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
}

div.col-md-9>p:first-of-type {
    text-align: center;
}

div.col-md-9 p.admonition-title:first-of-type {
    text-align: left;
}

div.col-md-9 h1:first-of-type .headerlink {
    display: none;
}

code.no-highlight {
    color: black;
}

/* Definition List styles */

dd {
    padding-left: 20px;
}

/* Homepage */

body.homepage div.jumbotron {
    margin-top: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 0;
}

body.homepage div.jumbotron div.card {
    margin-bottom: 2rem;
}

body.homepage>div.container>div.row>div.col-md-3 {
    display: none;
}

body.homepage>div.container>div.row>div.col-md-9 {
    margin-left: 0;
    flex: 0 0 100%;
    max-width: 100%;
}

.ml-auto .nav-item .nav-link {display: none;}

.cardB {
    background: #1ab394;
}

.test-card {
    border-radius: 10px;
    background: #fff;
}

.test-card h3 {
    padding-bottom: 15px;
}

.test-card dl  {
    margin: -15px 0;    
}

.test-card dd {
    margin-top: 10px;
}

.card {
    padding: 10px;
    border-radius: 8px;
}